* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.bg-light {
    background-color: #fff !important;
}

.navbar-light .navbar-brand {
    color: #ec8246;
    font-size: 2.3rem;
    font-weight: bold;
}

.navbar-light .navbar-nav .nav-link {
    color: #000;
    font-size: 1.1rem;
    font-weight: 400;
}


/* BANNER  */

.hero-section {
    padding: 5rem 0 3rem 0;
    align-items: center;
}

.main-tle {
    font-size: 3.5rem;
    line-height: 5rem;
    font-weight: 600;
    padding: 1rem 0;
}

.main-desc {
    font-size: 1.2rem;
    line-height: 2rem;
    letter-spacing: .1rem;
    font-weight: 300;
}

.hero-banner img {
    width: 400px;
    height: auto;
    text-align: center;
    justify-content: center;
}


/* SERVICE  */

.h-tle {
    color: #ec8246;
    font-size: 3rem;
    text-transform: capitalize;
    letter-spacing: .1rem;
    padding: 2rem 0 .5rem 0;
}

.h-desc {
    font-size: 1.6rem;
    font-weight: 400;
    padding: .5rem 0 1rem 0;
    letter-spacing: .1rem;
}

.sell-info {
    text-align: center;
    padding: 3rem 0;
}

.serv-img {
    padding: 1.5rem 0;
    height: auto;
}

.serv-img:hover {
    cursor: pointer;
    opacity: .6;
    transition: .2s ease-in-out;
}

.ser-tle {
    padding: 0 0.5rem 0;
    font-size: 2rem;
    letter-spacing: .1rem;
}


/* BANNER-LOWER SECTION && FAQ's */

.banner {
    padding: 3rem 0;
    text-align: center;
    background-color: #ec8246;
    color: #fff;
}

#faqs {
    text-align: center;
    padding: 3rem 0;
}

.faqs {
    margin-bottom: 4rem;
}

.get-started {
    border: none;
    padding: .6rem 4rem;
    color: #ec8246;
    background-color: #fff;
    margin: 2rem 0;
}

.get-started a {
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .2rem;
    color: #ec8246;
}

.accordion-item {
    padding: 1rem 0;
    border-bottom: 1px solid #eee;
}

.accordion-button:not(.collapsed) {
    color: #ec8246;
    border-bottom: 1px solid #eee;
    background-color: none !important;
    /* background-color: #e7f1ff; */
    /* box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%); */
}

.accordion-button {
    background-color: none !important;
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1rem 1.25rem;
    font-size: 1rem;
    /* color: #212529; */
    text-align: left;
    background-color: #fff;
    border: 0;
    border-radius: 0;
    overflow-anchor: none;
    /* transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, border-radius .15s ease; */
}


/* ORDER DETAILS  */

tr .th-tle {
    background-color: #ec8246;
    color: #fff;
    padding: .6rem .2;
    font-weight: 400;
}

tr .td-dt {
    padding: .6rem 0;
    font-size: 1rem;
}