* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.bg-light {
    background-color: #fff !important;
}

.navbar-light .navbar-brand {
    color: #ec8246;
    font-size: 2.3rem;
    font-weight: bold;
}

.navbar-light .navbar-nav .nav-link {
    color: #000;
    font-size: 1.1rem;
    font-weight: 400;
}


/* BANNER  */

.hero-section {
    padding: 5rem 0 3rem 0;
    align-items: center;
}

.main-tle {
    font-size: 3.5rem;
    line-height: 5rem;
    font-weight: 600;
    padding: 1rem 0;
}

.main-desc {
    font-size: 1.2rem;
    line-height: 2rem;
    letter-spacing: .1rem;
    font-weight: 300;
}

.hero-banner img {
    width: 400px;
    height: auto;
    text-align: center;
    justify-content: center;
}


/* SERVICE  */

.h-tle {
    color: #ec8246;
    font-size: 3rem;
    text-transform: capitalize;
    letter-spacing: .1rem;
    padding: 2rem 0 .5rem 0;
}

.h-desc {
    font-size: 1.6rem;
    font-weight: 400;
    padding: .5rem 0 1rem 0;
    letter-spacing: .1rem;
}

.sell-info {
    text-align: center;
    padding: 3rem 0;
}

.serv-img {
    padding: 1.5rem 0;
    height: auto;
}

.serv-img:hover {
    cursor: pointer;
    opacity: .6;
    transition: .2s ease-in-out;
}

.ser-tle {
    padding: 0 0.5rem 0;
    font-size: 2rem;
    letter-spacing: .1rem;
}


/* BANNER-LOWER SECTION && FAQ's */

.banner {
    padding: 3rem 0;
    text-align: center;
    background-color: #ec8246;
    color: #fff;
}

#faqs {
    text-align: center;
    padding: 3rem 0;
}

.faqs {
    margin-bottom: 4rem;
}