{% extends 'base.html' %} {% load static %}
<!-- main content  -->
{% block content %}

<div class="container">
    <h1>Login</h1>
    <br>
    <hr>
    <form action="" method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Username</label>
            <input type="text" class="form-control" name="username">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" name="password">
        </div>
        <p class="muted">New User? <a href="{% url 'register' %}">Create Account</a></p>
        <button type="submit" class="btn btn-outline-info">login</button>
    </form>
</div>
{% endblock content %}